<div class="panel panel-default">
    <div class="panel-heading">Market Indexes</div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <tr>
                <th>Commodity</th><th>Min -> Mean</th><th>Mean -> Max</th><th>Min -> Max</th>
            </tr>
            <tr>
                <td><strong>Food</strong></td>
                <td class="number-cell">{{minToMeanMargins?.food?.toFixed(2)}}%</td>
                <td class="number-cell">{{meanToMaxMargins?.food?.toFixed(2)}}%</td>
                <td class="number-cell">{{minToMaxMargins?.food?.toFixed(2)}}%</td>
            </tr>
            <tr>
                <td><strong>Clothing</strong></td>
                <td class="number-cell">{{minToMeanMargins?.clothing?.toFixed(2)}}%</td>
                <td class="number-cell">{{meanToMaxMargins?.clothing?.toFixed(2)}}%</td>
                <td class="number-cell">{{minToMaxMargins?.clothing?.toFixed(2)}}%</td>
            </tr>
            <tr>
                <td><strong>Metal</strong></td>
                <td class="number-cell">{{minToMeanMargins?.metal?.toFixed(2)}}%</td>
                <td class="number-cell">{{meanToMaxMargins?.metal?.toFixed(2)}}%</td>
                <td class="number-cell">{{minToMaxMargins?.metal?.toFixed(2)}}%</td>
            </tr>
            <tr>
                <td><strong>Plastic</strong></td>
                <td class="number-cell">{{minToMeanMargins?.plastic?.toFixed(2)}}%</td>
                <td class="number-cell">{{meanToMaxMargins?.plastic?.toFixed(2)}}%</td>
                <td class="number-cell">{{minToMaxMargins?.plastic?.toFixed(2)}}%</td>
            </tr>
            <tr>
                <td><strong>Equipment</strong></td>
                <td class="number-cell">{{minToMeanMargins?.equipment?.toFixed(2)}}%</td>
                <td class="number-cell">{{meanToMaxMargins?.equipment?.toFixed(2)}}%</td>
                <td class="number-cell">{{minToMaxMargins?.equipment?.toFixed(2)}}%</td>
            </tr>
            <tr>
                <td><strong>Medical</strong></td>
                <td class="number-cell">{{minToMeanMargins?.medical?.toFixed(2)}}%</td>
                <td class="number-cell">{{meanToMaxMargins?.medical?.toFixed(2)}}%</td>
                <td class="number-cell">{{minToMaxMargins?.medical?.toFixed(2)}}%</td>
            </tr>
            <tr>
                <td><strong>Industrial</strong></td>
                <td class="number-cell">{{minToMeanMargins?.industrial?.toFixed(2)}}%</td>
                <td class="number-cell">{{meanToMaxMargins?.industrial?.toFixed(2)}}%</td>
                <td class="number-cell">{{minToMaxMargins?.industrial?.toFixed(2)}}%</td>
            </tr>
            <tr>
                <td><strong>Electronics</strong></td>
                <td class="number-cell">{{minToMeanMargins?.electronics?.toFixed(2)}}%</td>
                <td class="number-cell">{{meanToMaxMargins?.electronics?.toFixed(2)}}%</td>
                <td class="number-cell">{{minToMaxMargins?.electronics?.toFixed(2)}}%</td>
            </tr>
            <tr>
                <td><strong>Heavy Metals</strong></td>
                <td class="number-cell">{{minToMeanMargins?.heavyMetals?.toFixed(2)}}%</td>
                <td class="number-cell">{{meanToMaxMargins?.heavyMetals?.toFixed(2)}}%</td>
                <td class="number-cell">{{minToMaxMargins?.heavyMetals?.toFixed(2)}}%</td>
            </tr>
            <tr>
                <td><strong>Luxury Goods</strong></td>
                <td class="number-cell">{{minToMeanMargins?.luxuryGoods?.toFixed(2)}}%</td>
                <td class="number-cell">{{meanToMaxMargins?.luxuryGoods?.toFixed(2)}}%</td>
                <td class="number-cell">{{minToMaxMargins?.luxuryGoods?.toFixed(2)}}%</td>
            </tr>
        </table>
    </div>
</div>
