<div class="panel panel-default">
   <div class="panel-heading">Create Market Data Point</div>

 <div class="panel-body">
   <form (submit)="postItem($event)" role="form">

     <div class="row">
         <div class="col-xs-12">

           <h3>Graph Data</h3>

           <spcc-pretty-input [name]="'spcc-landing-date'" [label]="'Landing Date'"
                              [(ngModel)]="model.date"></spcc-pretty-input>

           <spcc-pretty-input [name]="'spcc-landing-planet'" [label]="'Planet'"
                              [(ngModel)]="model.planet"></spcc-pretty-input>

           <spcc-pretty-input [name]="'spcc-planet-allegiance'" [label]="'Allegiance'"
                              [(ngModel)]="model.region"></spcc-pretty-input>

           <h3>Commodity Pricing</h3>

         </div>
     </div>

     <div class="row">
       <div class="col-xs-12">
         <spcc-pretty-input [leftInnerLabel]="'$'" [name]="'spcc-food-commodity'" [label]="'Food'"
                            [(ngModel)]="model.getCommodity( 'food' ).cost"></spcc-pretty-input>

         <spcc-pretty-input [leftInnerLabel]="'$'" [name]="'spcc-clothing-commodity'" [label]="'Clothing'"
                            [(ngModel)]="model.getCommodity( 'clothing' ).cost"></spcc-pretty-input>

         <spcc-pretty-input [leftInnerLabel]="'$'" [name]="'spcc-metal-commodity'" [label]="'Metal'"
                            [(ngModel)]="model.getCommodity( 'metal' ).cost"></spcc-pretty-input>

         <spcc-pretty-input [leftInnerLabel]="'$'" [name]="'spcc-plastic-commodity'" [label]="'Plastic'"
                            [(ngModel)]="model.getCommodity( 'plastic' ).cost"></spcc-pretty-input>

         <spcc-pretty-input [leftInnerLabel]="'$'" [name]="'spcc-equipment-commodity'" [label]="'Equipment'"
                            [(ngModel)]="model.getCommodity( 'equipment' ).cost"></spcc-pretty-input>

         <spcc-pretty-input [leftInnerLabel]="'$'" [name]="'spcc-medical-commodity'" [label]="'Medical'"
                            [(ngModel)]="model.getCommodity( 'medical' ).cost"></spcc-pretty-input>

         <spcc-pretty-input [leftInnerLabel]="'$'" [name]="'spcc-industrial-commodity'" [label]="'Industrial'"
                            [(ngModel)]="model.getCommodity( 'industrial' ).cost"></spcc-pretty-input>

         <spcc-pretty-input [leftInnerLabel]="'$'" [name]="'spcc-electronics-commodity'" [label]="'Electronics'"
                            [(ngModel)]="model.getCommodity( 'electronics' ).cost"></spcc-pretty-input>

         <spcc-pretty-input [leftInnerLabel]="'$'" [name]="'spcc-heavy-metals-commodity'" [label]="'Heavy Metals'"
                            [(ngModel)]="model.getCommodity( 'heavyMetals' ).cost"></spcc-pretty-input>

         <spcc-pretty-input [leftInnerLabel]="'$'" [name]="'spcc-luxury-goods-commodity'" [label]="'Luxury Goods'"
                            [(ngModel)]="model.getCommodity( 'luxuryGoods' ).cost"></spcc-pretty-input>

        </div>

      </div>

     <hr>

     <button type="submit" class="btn btn-primary">Submit</button>

   </form>
 </div>
</div>