<div class="row">
    <div class="col-md-4">
        <spcc-market-data-entry-form></spcc-market-data-entry-form>
    </div>
    <div class="col-md-8">
        <div class="row col-md-12">
            <spcc-market-report></spcc-market-report>
        </div>
        <div class="row col-md-12">
            <spcc-market-speculation></spcc-market-speculation>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <spcc-transaction-calculator></spcc-transaction-calculator>
    </div>
</div>